entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6000
externalPort = 6000

[[ports]]
localPort = 7000
externalPort = 8000

[[ports]]
localPort = 8000
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080
